.User{
    border: 1px solid;
    margin: 10px;
    display: flex;
    align-items: center;
    background: yellow;
    color: blue;
}
.tools button{
    margin: 5px;
    background: blue;
    color: yellow;
}